<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>d</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/theme.css">
	<link rel="stylesheet" type="text/css" href="css/layout.css">
	<link rel="stylesheet" type="text/css" href="css/master.css">
	<link rel="stylesheet" type="text/css" href="css/animation.css">
	<script type="text/javascript" src="js/websocket.js"></script>
	<script type="text/javascript" src="js/javascript.js"></script>
</head>
<body>
	<div class="popup">
		<div class="info">
			<lable>Content</lable>
		</div>
	</div>
	<div class="content">
		<div class="background"></div>
		<div class="box">
			<div class="info">
				<img src="https://openid.13a.com/image/login.jpg?lol=1">
			<!--
				<p>总授权数: %ticket%</p>
				<p>子授权数: %other_ticket%</p>
	 			<br>
				<p>今日请求验证次数: %get_time%</p>
				<p>今日创建授权次数: %cr_time%</p> -->
			</div>
			<div class="login">
				<h1>登录</h1>
				<p>账号&nbsp;&nbsp;&nbsp;<input class="user" type="text" name="" placeholder="账户"></p>
				<p>密码&nbsp;&nbsp;&nbsp;<input class="pass" type="password" name="" placeholder="密码"></p>
				<button onclick="login()">→</button>
			</div>
		</div>
	</div>
	<div class="loading">
		<div></div>
		<div></div>
	</div>
</body>
</html>